{% extends "layout.html" %}
{% load static %}

{% block cuerpo_pagina %}
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center ">
            <div class="col-12 col-md-8">
                <form method="POST" action="">{% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="username" maxlength="200" placeholder="Usuario"/>
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" maxlength="200" placeholder="Contraseña"/>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success float-right">Entrar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}