{% extends "layout.html" %}
{% load static %}

{% block cuerpo_pagina %}

<div class="container">
    <div class="row justify-content-around align-items-center">
        <div class="col-12 col-md-8">
            <form action="/tienda/cargar/" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div>
                    <label for="id_producto">Producto:</label>
                    <input type="text" name="producto" maxlength="200" required="" id="id_producto">
                </div>
                <div>
                    <label for="id_precio">Precio</label>
                    <input type="text" name="precio" maxlength="200" required="" id="id_precio">  
                </div>
                <div>
                    <label for="id_fecha_publicacion">Fecha de publicacion:</label>
                    <input type="date" name="fecha_publicacion" required="" id="id_fecha_publicacion">    
                </div>
                <div>
                    <label for="id_imagen">Imagen:</label>
                    <input type="file" name="imagen" accept="image/*" id="id_imagen">
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}