header{background-color: white;}

nav{background-color: rgb(245, 156, 156);}


footer{background-color: black;}
div{
    display: block;
}
.center{
    text-align: center;
    align-content: center;
}