.centrado{
    text-align: center;
    align-content: center;
}
.carousel-inner{
	.carousel-item{
		img{
			height: 550px;
		}
	}
}
.card{
	img{
		width: 66.66%; 
		height: 320px;
	}
	.card-body{
		h5{
			min-height: 72px;
		}
	}
}